@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');

.iframeheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 100px;
  color: rgb(0, 106, 255);
  font-size: 50px;
  border-bottom:5px solid;
  display: inline-block;
  }

  h2 {
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 10px;
  color: rgb(0, 106, 255);
  font-size: 50px;
  border-bottom:5px solid;
  display: inline-block;
  }

p {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

a {
  color:inherit;
}

hr {
  border: 3px solid gray
}

summary {
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
}

details {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 20px auto;
}

details[open] .in-details {
  animation: fadeIn 0.5s ease;
}

.center {
  text-align: center
}

.content {
  font-size: 20px;
}

.menu-content {
  font-size: 30px;
  color: brown;
  text-align: left;
  display: inline-block;
}

.menu-sentence {
  font-size: 20px
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #006eeb;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #00b0f5;
}
