@charset "utf-8";

span.title {
            color:rgb(0, 149, 255);
            font-size:50px;
            font-family:"游ゴシック"
        }
span.menunokoumoku {
            font-size:30px;
            font-family:"BIZ UDP明朝";
            color:brown
        }
span.dareyanen {
    font-size:40px;
    font-family:"UD デジタル 教科書体 NK-R";
    color:darkorange
}
span.snslink {
    font-size:30px;
    font-family:"BIZ UDゴシック";
    color:rgb(255, 187, 0)
}
span.osusume {
    font-size:30px;
    font-family:"HGP創英角ﾎﾟｯﾌﾟ体";
    color:rgb(255, 187, 0)
}
span.pagetitle {
    font-size:40px;
    font-family:"HGP創英角ﾎﾟｯﾌﾟ体";
    color:red
}
html {
    min-height:100%;
}